extends ../layout

block content
  main
    if restaurants
      for restaurant in restaurants
        div.admin_rows
          div.admin_things
            a(href="/restaurants/" + restaurant.id) #{restaurant.name}
          div.admin_things
            - var rating = restaurant.rating
            - for (var x = 0; x < rating; x++)
              img(src="../images/star.png", alt="rating star") 
          div.admin_things
            for employee in employees
              - if (employee.restaurant_id === restaurant.id)
                  p #{employee.first_name} #{employee.last_name}
          div.admin_things
            a(href='/restaurants/'+ restaurant.id + '/edit') Edit
            form(action='/restaurants/#{restaurant.id}/delete' method='post')
              input(type='submit' value='Delete')
