extends layout

block content
  main
    div(class="restaurantSquare")
      h2=Restaurant Name
        div(class="theDeets")
          h3>Cuisine Type
          h3>City, State
        div(class="theScore")
          img(src="star.png", alt="rating star")
          img(src="star.png", alt="rating star")
          img(src="star.png", alt="rating star")
          img(src="star.png", alt="rating star")
          img(src="star.png", alt="rating star")
