doctype html
html
  head
    title= title
    link(href='https://fonts.googleapis.com/css?family=Quicksand:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    header 
      br
      a(href='/') gTables Home 
      ***      
      a(href="/neighborhoods") Neighborhoods 
      ***      
      a(href="/neighborhoods/new") New Neighborhood 
      ***      
      a(href="/admin") Admin 
      ***      
      a(href="/restaurants/new") New Restaurant 
    block content



    //- img(src="../images/star.png", alt="star") 
