extends ../layout 

block content 
  .showww
    h1 #{neighborhood.name}
    div#map
    script.
      function initMap() {
        var latitude=#{latitude};
        var longitude=#{longitude};
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: latitude, lng: longitude},
          zoom: 14
        });
      }
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHjmrGEdj4v3cDILLJRlp3hzPwBJaR0zg&callback=initMap").
  
